<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <title>
            {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'header.twig' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
    </body>

</html>
