{% extends 'base.twig' %}

{% block content %}
<h3>Ce projet était-il fastidieux ?</h3>
<p>Oui !</p>
<h3>Des API sont-elles disponibles pour récupérer nos compagnies?  ?</h3>
<p>Oui celles-ci sont disponibles <a href = "/api/dwarfs">ici pour les nains</a> et <a href = "/api/companies">ici pour les compagnies</a>
{% endblock %}
