<footer>
    <div class="container-fluid footer ">
        <div class="row">
                <div class="col-2 margin"><p>© 2019 NanoCorp, Inc.</p></div>
                <a href="/aboutus/" class="col-2 margin">Qui sommes-nous ?</a>
                <a href="/" class="col-4 margin"><img src="/assets/image/nain.png" alt="accueil" height="32"></a>
                <a href="/about/" class="col-2 margin">A propos</a>
                <a href="/faq/" class="col-2 margin">FAQ</a>
        </div>
    </div>
</footer>