<header>
    <!--<a href="index"><img src="/img/logo.png" alt="accueil" height="24">Généranain</a>
    <a href="equipments">Equipements</a>
    <p>"bonjour lol ?"</p>-->
    <div class="header container-fluid">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><img src="/assets/image/nain.png" alt="accueil" height="32">Généranain</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="collapse_target">
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <a class="nav-link" href="/equipments/">Equipements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dwarfs/">Nains</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/company/">Compagnies</a>
                </li>
              </ul>
              <ul class ="navbar-nav ml-auto">
                {% if session.logged %}
                  <li id = "Connection" class = "nav-item">
                  <a class = "nav-link" href = "/disconnect">Déconnexion</a>
                  <li id = "MyCompanies" class = "nav-item">
                  <a class = "nav-link" href = "/profil/{{ session.name }}">Mes Compagnies</a>
                {% else %}
                  <li id="Connection" class="nav-item">
                  <a class="nav-link" href="/login/">Connexion</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>

          
</header>