{% extends 'base.twig' %}

{% block content %}
<div class="container-fluid center">
    <h2 class="marg-top">Bienvenue sur Généranain !</h2>
    <p class="marg-top">Que voulez vous faire ?</p>
        <section class="choix_mode row marg-bot marg-top">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"><p></p></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <form method="POST" action="/dwarfs/form">
                <input class ="btn btn-outline-primary button btn-lg" type="submit" name="Création de nain" value="Création de nain" >
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><p></p></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <form method="POST" action="/company/form">
                <input class ="btn btn-outline-danger button btn-lg" type="submit" name="CCréation de compagnie" value="Création de compagnie" >
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2 "><p></p></div>
        </section>
</div>

{% endblock %}
