.header
{
    height: 100px;
    background-image: url("../image/header-background.jpg");
    opacity: 0.65;
    background-position: 0 25%;
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border : none;
    margin-left: 0px;
    margin-right : -15px;
    margin-top : -18px;

}
.button{
    background-color: RGBA(180, 160, 220,0.5);
}
.padding{
    padding-top: 10px;
}
.marg-bot {
    margin-bottom: 18.5%;
}
.marg-top{
    margin-top : 5%;
}
.margin{
    margin-top : 2%;
}
.center{
    text-align:center;
}
.footer
{
    font-size : 12px;
    height: 100px;
    background-color:RGB(219, 196, 119);
    text-align: center;
}
body
{
    
    font-family: 'Press Start 2P', cursive;
    height: 800px;
    background-color:RGBA(255, 243, 203,0.5);
}

main{
    margin:1%;
}

a{
    color : black;
}

.container{
    border:solid 1px;
}

.navbar{
    padding: 0 0.8em;
}

.sizedButton{
    margin: 0.5%;
    width: 50%;
    text-align: center;
}

#equipmentList > a {
    text-decoration: none;
    color: black;
}

#modifyButtonDwarfList{
    margin-right: 3%
}
#deleteButtonDwarfList{
    margin-left: 3%
}

.form{
    margin: 10%;
    margin-top: 5%
}

.dwarf{
    margin:10px;
    margin-left:10%;
    padding:10px;
    border:1px solid;
    border-radius:16px;
    
}
.dwarf-name{
    padding-left:3px;
    font-size:27px;
}
.dwarf ul{
    border-left:8px solid;
    list-style-type: none;
    padding-left:0px;
    margin-left:30px;
}
.dwarf li{
    /*border-left:8px solid;*/
    padding-left:3px;
    margin:4px;     
    
}
.companyName{
    text-align: center;
}

#dwarf-of-the-year h1{
    font-size:35px;
}

.equipment{
    margin:10px;
    padding:10px;
    border:1px solid;
    border-radius:16px; 
}


    


.company{
    margin:10px;
    padding:10px;
    border:1px solid;
    border-radius:16px;
    text-align: center; 
}

#AddCompanyLink{
    margin: 5%
}