{% extends 'base.twig' %}

{% block content %}
    <article class="center margin padding">
    <p>Nombre d'équipements: {{ equipments.results|length }}</p>
    
        <ul class = "list-group" id = "equipmentList" >
            {% for equipment in equipments.results %}
                <a class="padding" href ="/equipments/{{ loop.index }}"><li class ="list-group-item">{{ equipment.name }}</li></a>
            {% endfor %}
        </ul>
    </div>
    </article>
{% endblock %}
