{% extends 'base.twig' %}

{% block content %}
<div class="marg-top marg-bot container-fluid row ">
<div class="col-md-2 col-lg-3"></div>
<div class = "center col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <article class="equipment">
                <h2> {{ equipment.name }} </h2>
                {% if equipment.equipment_category %}
                        <p> Category: {{ equipment.equipment_category }} </p>
                {% endif %}
                {% if equipment.cost.quantity %}
                        <p> Cost: {{ equipment.cost.quantity}} {{equipment.cost.unit}} </p>
                {% endif %}
                {#{% if "equipment.weapon_category:" %}
                        <p> Cost: {{ "equipment.weapon_category:" }} </p>
                {% endif %}#}
                {% if equipment.weapon_range %}
                        <p> Cost: {{ equipment.weapon_range }} </p>
                {% endif %}
                {% if equipment.category_range %}
                        <p> : {{ equipment.category_range }} </p>
                {% endif %}
                {% if equipment.damage.dice_count %}
                        <p> dice_count: {{ equipment.damage.dice_count }} </p>
                {% endif %}
                {% if equipment.damage.dice_value %}
                        <p> dice_value: {{ equipment.damage.dice_value }} </p>
                {% endif %}
                {% if equipment.damage.damage_type.name %}
                        <p> Type de dégats: {{ equipment.damage.damage_type.name }} </p>
                {% endif %}
                {% if equipment.range.normal %}
                        <p> Portée(normale): {{ equipment.range.normal }} </p>
                {% endif %}
                {% if equipment.range.long %}
                        <p> Portée(longue): {{ equipment.range.long }} </p>
                {% endif %}
                {% if equipment.weight %}
                        <p> Poids: {{ equipment.weight }} </p>
                {% endif %}
        </article>
</div>
</div>
{% endblock %}
        