{% extends 'base.twig' %}


{% block title %} Dwarfs {% endblock %}

{% block content %}
    <tbody>
        <div class="row align-items-start">
            <div class="col-7">
                {% for dwarf in dwarfs %}
                    <div class = "dwarf">
                        <h2 class ="dwarf-name">{{dwarf.NAME}}</h2>
                        <ul class ="list group list-group-horizontal-md" id="dwarf-caracteristics-list">
                            {% if dwarf.HEIGHT %}
                                <li class ="list group-item">Taille : {{ dwarf.HEIGHT }} cm </li>
                            {% endif %}
                            {% if dwarf.BEARDCOLOR %}
                                <li class ="list group-item">Couleur de barbe : {{ dwarf.BEARDCOLOR }} </li>
                            {% endif %}
                            {% if dwarf.BEARDSIZE %}
                                <li class ="list group-item">Taille de barbe : {{ dwarf.BEARDSIZE }} </li>
                            {% endif %}
                            {% if dwarf.EQUIPMENT %}
                                <li class ="list group-item">Equipement : {{ dwarf.EQUIPMENT }} </li>
                            {% endif %}
                            {% if dwarf.company.NAME %}
                                <li class ="list group-item">Compagnie : {{ dwarf.company.NAME}} </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            {% set dwarf = random(dwarfs) %}
            <div class="dwarf col-3" id="dwarf-of-the-year">
                <h1>Nain de l'année :</h1>
                <h2 class ="dwarf-name">{{dwarf.NAME}}</h2>
            </div>
        </div>
    </tbody>
{% endblock content %}