{% extends 'base.twig' %}

{% block content %}

    <article>

        <form class = "form" action="" enctype="multipart/form-data" method="POST">

            <div class = "form-group">

                <label for="name">Name</label>
                <input class ="form-control" type="text" id="name" name="name" value="{{ dwarf.NAME }}"/>
            </div>
            <div class = "form-group">
                <label for="height">Height</label>
                <input class ="form-control" type="number" id="height" name="height" value="{{ dwarf.HEIGHT }}"min = "100" max = "200" />
            </div>
            <div class = "form-group">
                <label for="beardcolor">Beard color</label>
                <input class ="form-control" type="text" id="beardcolor" name="beardcolor" value="{{ dwarf.BEARDCOLOR }}"/>
            </div>
            <div class = "form-group">
                <label for="beardsize">Beard size</label>
                <input class ="form-control" type="number" id="beardsize" name="beardsize" value="{{ dwarf.BEARDSIZE }}" min = "0" max = "200" />
            </div>
            <div class = "form-group">
                <label for "equipment"> Equipment </label>
                <select class ="form-control" name = "equipment">
                {% for equipment in equipments.results %}
                    <option value = {{ equipment.name }}>{{ equipment.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class ="form-group">
                <label for "company"> Company </label>
                <select class ="form-control" name = "company">
                {% for company in companies %}
                    <option value = {{ company.ID }}>{{ company.NAME}}</option>
                {% endfor %}
                </select>
            </div>

            <button type = "submit" class = "btn btn-primary">
                {% if dwarf.ID %}
                    Edit
                {% else %}
                    Save
                {% endif %}
            </button>

        </form>
    </article>
{% endblock %}
