{% extends 'base.twig' %}

{% block content %}
<p><a href = "/company/form" id = "AddCompanyLink" >Ajouter une compagnie</a></p>
    <article class="center margin padding">
    <p>Nombre de compagnies : {{ companies|length }}</p>
        <ul class = "list-group" id = "equipmentsList" >
            {% for company in companies %}
                <a class="padding" href ="/company/detail/{{ company.ID }}"><li class ="list-group-item">{{ company.NAME }}</li></a>
            {% endfor %}
        </ul>
    </div>
    </article>
{% endblock content %}