{% extends 'base.twig' %}

{% block title %}
    {{ company.NAME  }}
{% endblock title %}

{% block content %}

    <div id = "companyName">
        <h3 class = "companyName" >{{ company.NAME }}</h3>
    </div>
    <p><a href = "/dwarfs/form">Ajouter un compagnon</a></p>
    <tbody>
        <div class="">
            <div class="row ">
                <div class="col-sm-12">
                    <table id ="dwarf_company_table" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Height</th>
                                <th scope="col">Beardcolor</th>
                                <th scope="col">Beardsize</th>
                                <th scope="col">Equipment</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% for dwarf in dwarfs %}
                            <tr>
                                <th scope="row">{{ dwarf.ID }}</th>
                                <td>{{ dwarf.NAME }}</td>
                                <td>{{ dwarf.HEIGHT }}</td>
                                <td>{{ dwarf.BEARDCOLOR }}</td>
                                <td>{{ dwarf.BEARDSIZE}}</td>
                                <td>{{ dwarf.EQUIPMENT}}</td>
                                <td><a href ="/dwarfs/form/{{ dwarf.ID }}" id = "modifyButtonDwarfList" > Modify</a>
                                    <a href ="/dwarfs/delete/{{ company.ID }}/{{ dwarf.ID }}" id = "deleteButtonDwarfList" > Delete </a>
                                </td> 
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </tbody>
{% endblock content %}
