{% extends 'base.twig' %}

{% block content %}

    <article>
        <form class = "form" action="" enctype="multipart/form-data" method="POST">

            <div class = "form-group">

                <label for="name">Name</label>
                <input type="text" class = "form-control" id="name" name="name" value="{{ company.NAME }}"/>
            </div>
            <button type = "submit" class= "btn btn-primary">
                {% if company.ID %}
                    Edit
                {% else %}
                    Save
                {% endif %}
            </button>
        </form>
    </article> 
{% endblock %}
