{% extends "base.twig" %}

{% block content %}

    <article>
        <form class = "form" action="" enctype="multipart/form-data" method="POST">

            <div class = "form-group">

                <label for="company">Companies</label>
                <select class = "form-control" name = "company">
                {% for company in companies %}
                    <option value = {{ company.ID }}>{{ company.NAME }}</option>
                {% endfor %}
                </select>
            </div>
            <button type = "submit" class= "btn btn-primary">
                Add
            </button>
        </form>
    </article> 
{% endblock %}