{% extends 'base.twig' %}


{% block content %}
    <form action="" class="form" enctype="multipart/form-data" method="POST">

        <div class="form-group">

            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" value="{{ dwarf.NAME }}"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <button type = "submit" class = "btn btn-primary">
            Login
        </button>
        {% if erreur %}
            <p> Le mot de passe est incorrect</p>
        {% endif %}
        <p>No account? Register <a href ="/register"> here!</a></p> 
    </form>
{% endblock %}
