{% extends 'base.twig' %}


{% block content %}
    <form action="" class="form" enctype="multipart/form-data" method="POST">

        <div class="form-group">

            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" value=""/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <button type = "submit" class = "btn btn-primary">
            Register
        </button>
        {% if erreurFORM %}
        
            <p> Ooops une erreur s'est glissé dans votre formulaire</p>

        {% endif %}
    </form>
{% endblock %}